@model List<Statics>

@foreach (var item in Model)
{

    <div class="row">

        <div class="col-lg-6 m-b30 aon-static-position-1">
            <div class="media-bg-animate media-statics aon-icon-effect">
                <div class="aon-static-section aon-t-blue">
                    <div class="aon-company-static-num counter aon-icon">@item.Providers</div>
                    <div class="aon-company-static-name">Providers</div>
                </div>
            </div>
            <div class="media-bg-animate media-statics aon-icon-effect">
                <div class="aon-static-section aon-t-yellow">
                    <div class="aon-company-static-num counter aon-icon">@item.Jobs</div>
                    <div class="aon-company-static-name">Jobs</div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 m-b30 aon-static-position-2">
            <div class="media-bg-animate media-statics aon-icon-effect">
                <div class="aon-static-section aon-t-green">
                    <div class="aon-company-static-num counter aon-icon">@item.Customer</div>
                    <div class="aon-company-static-name">Customer</div>
                </div>
            </div>

        </div>
    </div>




}
