


    <div class="row">

        <div class="col-lg-6 m-b30 aon-static-position-1">
            <div class="media-bg-animate media-statics aon-icon-effect">
                <div class="aon-static-section aon-t-blue">
                    <div class="aon-company-static-num counter aon-icon">@ViewBag.AcCount</div>
                    <div class="aon-company-static-name">Providers</div>
                </div>
            </div>
            <div class="media-bg-animate media-statics aon-icon-effect">
                <div class="aon-static-section aon-t-yellow">
                <div class="aon-company-static-num counter aon-icon">@ViewBag.JobCount</div>
                    <div class="aon-company-static-name">Jobs</div>
                </div>
            </div>
        </div>

    </div>
