@model RegisterVM

<div class="loading-area">
    <div class="loading-box"></div>
    <div class="loading-pic">
        <div class="windows8">
            <div class="wBall" id="wBall_1">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_2">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_3">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_4">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_5">
                <div class="wInnerBall"></div>
            </div>
        </div>
    </div>
</div>
<!-- LOADING AREA  END ====== -->


<div class="page-wraper">


    <!-- HEADER START -->
    <header class="site-header header-style-2 mobile-sider-drawer-menu header-full-width">
        <div class="sticky-header main-bar-wraper  navbar-expand-lg">
            <div class="main-bar">

                <div class="container clearfix">
                    <!--Logo section start-->
                    <div class="logo-header">
                        <div class="logo-header-inner logo-header-one">
                            <a href="index-2.html">
                                <img src="~/assets/images/logo-dark.png" alt="">
                            </a>
                        </div>
                    </div>
                    <!--Logo section End-->
                    <!-- NAV Toggle Button -->
                    <button id="mobile-side-drawer" data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggler collapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar icon-bar-first"></span>
                        <span class="icon-bar icon-bar-two"></span>
                        <span class="icon-bar icon-bar-three"></span>
                    </button>

                    <!-- MAIN Vav -->
                    <div class="nav-animation header-nav navbar-collapse collapse d-flex justify-content-start">

                        <ul class=" nav navbar-nav">
                            <li class="has-child current-menu-item">
                                <a href="javascript:;">Home</a>

                            </li>

                            <li class="has-child">
                                <a href="javascript:;">Pages</a>
                                <ul class="sub-menu">
                                    <li><a href="about-us.html">About us</a></li>
                                    <li>
                                        <a asp-controller="category" asp-action="index">Categories</a>

                                    </li>


                                </ul>
                            </li>

                            <li class="has-child">
                                <a href="javascript:;">Profile</a>

                            </li>

                            <li class="has-child">
                                <a href="javascript:;">Jobs</a>
                                <ul class="sub-menu">
                                    <li><a href="job-detail.html">Job detail</a></li>
                                </ul>
                            </li>

                            <li class="has-child">
                                <a asp-controller="blog" asp-action="index">Blog</a>

                            </li>
                            <li><a href="contact-us.html">Contact</a></li>
                        </ul>

                    </div>

                    <!-- Header Right Section-->
                    <div class="extra-nav header-2-nav">
                        <div class="extra-cell">
                            <!--Login-->
                            <button type="button" class="site-button aon-btn-login" data-toggle="modal" data-target="#login-signup-model">
                                <i class="fa fa-user"></i> Login
                            </button>
                            <!--Sign up-->
                            <a href="mc-profile.html" class="site-button aon-btn-signup m-l20">
                                <i class="fa fa-plus"></i> Add Listing
                            </a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        </header>

<div id="Past" class="tab-pane">
    <div class="sf-tabs-content">
        <form method="post"  class="aon-login-form">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="aon-inputicon-box">
                            <input asp-for="FullName" class="form-control sf-form-control" name="Full_Name" type="text" placeholder="Full Name">
                            <span asp-validation-for="FullName"></span>
                            <i class="aon-input-icon fa fa-user"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="aon-inputicon-box">
                            <input asp-for="UserName" class="form-control sf-form-control" name="company_name" type="text" placeholder="User Name">
                            <span asp-validation-for="UserName"></span>
                            <i class="aon-input-icon fa fa-user"></i>
                        </div>
                    </div>
                </div>

                @*     <div class="col-md-12">
                <div class="form-group">
                <div class="aon-inputicon-box">
                <input class="form-control sf-form-control" name="Phone" type="password" placeholder="Phone">
                <i class="aon-input-icon fa fa-phone"></i>
                </div>
                </div>
                </div>*@

                <div class="col-md-12">
                    <div class="form-group">
                        <div class="aon-inputicon-box">
                            <input asp-for="Email" class="form-control sf-form-control" name="email" type="email" placeholder="Email">
                            <span asp-validation-for="Email"></span>
                            <i class="aon-input-icon fa fa-envelope-o"></i>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <div class="aon-inputicon-box">
                            <input asp-for="Password" class="form-control sf-form-control" name="password" type="password" placeholder="Password">
                            <span asp-validation-for="Password"></span>
                            <i class="aon-input-icon fa fa-lock"></i>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <div class="aon-inputicon-box">
                            <input asp-for="PasswordConfirm" class="form-control sf-form-control" name="password" type="password" placeholder="Confirm Password">
                            <span asp-validation-for="PasswordConfirm"></span>
                            <i class="aon-input-icon fa fa-lock"></i>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group sign-term-con">
                        <div class="checkbox sf-radio-checkbox">
                            <input id="td33" name="abc" value="five" type="checkbox">
                            <label for="td33">I've read and agree with your <a href="#">Privacy Policy</a> and <a href="#">Terms & Conditions</a> </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="site-button w-100">Submit <i class="feather-arrow-right"></i> </button>
                </div>

            </div>
        </form>
    </div>
</div>