<!DOCTYPE html>
<html class="no-js" lang="zxx">

<!-- Mirrored from aonetheme.com/sf-html-demo/mc-upload-identity.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 28 Feb 2023 10:37:08 GMT -->
<head>

    <!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />
    <meta name="description" content="" />

    <!-- FAVICONS ICON -->
    <link rel="icon" href="images/favicon.html" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />

    <!-- PAGE TITLE HERE -->
    <title>Service Finder Template | Upload Identity</title>

    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- BOOTSTRAP STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">
    <!-- Bootstrap toggle -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap4-toggle.min.css">
    <!-- Bootstrap seclect -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap-select.min.css" />
    <!-- Price Range Slider -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap-slider.min.css" />
    <!-- Bootstrap data table -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/dataTables.bootstrap4.min.css">
    <!-- Dropzone -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/dropzone.css">
    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/font.css" />
    <!-- Feather icon -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/feather.css" />
    <!-- Fontawesome -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.min.css" />
    <!-- Lc light box popup -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/lc_lightbox.css" />
    <!-- Magnific Popup -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/magnific-popup.min.css">
    <!-- Custom Scrollbar -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/m-custom-scrollbar.min.css" />
    <!-- Owl Carousel -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/owl.carousel.min.css">
    <!-- Slick Carousel -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/slick.min.css">
    <!-- Slick Theme -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/slick-theme.css">
    <!-- Main STyle Sheet -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">


</head>

<body>
    <!-- LOADING AREA START ===== -->
    <div class="loading-area">
        <div class="loading-box"></div>
        <div class="loading-pic">
            <div class="windows8">
                <div class="wBall" id="wBall_1">
                    <div class="wInnerBall"></div>
                </div>
                <div class="wBall" id="wBall_2">
                    <div class="wInnerBall"></div>
                </div>
                <div class="wBall" id="wBall_3">
                    <div class="wInnerBall"></div>
                </div>
                <div class="wBall" id="wBall_4">
                    <div class="wInnerBall"></div>
                </div>
                <div class="wBall" id="wBall_5">
                    <div class="wInnerBall"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- LOADING AREA  END ====== -->

    <div class="page-wraper">

       @await Component.InvokeAsync("Header");

        <!-- Sidebar Holder -->
        <nav id="sidebar-admin-wraper">
          @*  <div class="pro-my-account-wrap">
                Vender My Account
            </div>*@
            <div class="admin-nav">
                <ul class="">
                    <li class="active">
                        <a asp-area="adminarea" asp-controller="dashboard" asp-action="index"><i class="fa fa-dashboard"></i><span class="admin-nav-text">Dashboard</span></a>
                    </li>
                    <li>
                        <a asp-area ="adminarea" asp-controller="article" asp-action="index"><i class="fa fa-user-circle-o"></i><span class="admin-nav-text">Blog</span></a>
                    </li>
                    <li>
                        <a asp-area="adminarea" asp-controller="category" asp-action="index"><i class="fa fa-cogs"></i><span class="admin-nav-text">Category</span></a>
                    </li>
                    <li>
                        <a asp-area="adminarea" asp-controller="city" asp-action="index"><i class="fa fa-calendar"></i><span class="admin-nav-text">City</span></a>
                    </li>
                    <li>
                        <a asp-area="adminarea" asp-controller="job" asp-action="index"><i class="fa fa-envelope-o"></i><span class="admin-nav-text">Job</span></a>
                    </li>
                    <li>
                        <a asp-area="adminarea" asp-controller="contact" asp-action="index"><i class="fa fa-calendar-check-o"></i><span class="admin-nav-text">Contact</span></a>
                    </li>
                    <li>
                        <a asp-area="adminarea" asp-controller="Subscribe" asp-action="index"><i class="fa fa-user-secret"></i><span class="admin-nav-text">Subscribe</span></a>
                    </li>
                  @*  <li>
                        <a href="mc-team-members.html"><i class="fa fa-users"></i><span class="admin-nav-text">Team Members</span></a>
                    </li>
                    <li>
                        <a href="mc-business-hours.html"><i class="fa  fa-clock-o"></i><span class="admin-nav-text">Business Hour</span></a>
                    </li>
                    <li>
                        <a href="mc-upload-identity.html"><i class="fa fa-id-card-o"></i><span class="admin-nav-text">Upload Identity </span></a>
                    </li>
                    <li>
                        <a href="mc-upgrade-account.html"><i class="fa fa-cloud-upload"></i><span class="admin-nav-text">Upgrade Account</span></a>
                    </li>*@

                </ul>
            </div>
        </nav>

        <!-- Page Content Holder -->
        <div id="content">

            <div class="content-admin-main">
@*
                <div class="admin-top-area d-flex flex-wrap justify-content-between m-b30 align-items-center">*
                    <div class="admin-left-area">
                        <a class="nav-btn-admin d-flex justify-content-between align-items-center" id="sidebarCollapse">
                            <span class="nav-btn-text">Dashboard Menu</span>
                            <span class="fa fa-reorder"></span>
                        </a>
                    </div>

                   <div class="admin-area-mid">
                        <div class="admin-area-heading">
                            <span>Your Tariff Plan : </span>
                            <strong>Extended <i class="fa fa-caret-down"></i></strong>
                        </div>
                        <div class="admin-area-content">you Are on Extended . Use link bellow to view details or upgrade.Details </div>

                    </div

                   <div class="admin-right-area">
                        <div class="pro-pic-info-wrap d-flex">
                            <div class="pro-pic-box">
                                <img src="images/user.jpg" alt="" />
                            </div>
                            <div class="pro-pic-info">
                                <strong>David Wood</strong>
                                <span>Designer</span>
                            </div>
                            <span class="feather-icon has-toltip">
                                <i class="feather-power"></i>
                                <span class="header-toltip">Notification</span>
                            </span>
                        </div>
                    </div>
                </div>*@


                <div class="aon-admin-heading">
        @RenderBody()
                </div>                

@*
                <div class="card aon-card">
                    <div class="card-header aon-card-header"><h4><i class="fa fa-user"></i> Upload Identity Proof</h4>
                    </div>

                    <div class="card-body aon-card-body">
                        <div class="alert alert-warning m-b30">
                            Document verification process is going on.  
                        </div>
                        <form action="https://aonetheme.com/sf-html-demo/upload.php" class="dropzone dropzone-custom m-b30">
                            <div class="dz-message">    
                                <span class="note">
                                    Upload Front side document
                                </span>
                            </div>
                        </form>
                        <form action="https://aonetheme.com/sf-html-demo/upload.php" class="dropzone dropzone-custom">
                            <div class="dz-message">    
                                <span class="note">
                                    Upload Back side document
                                </span>
                            </div>
                        </form>
                    </div>



                </div>*@

            </div>

        </div>

 </div>       


<!-- JAVASCRIPT  FILES ========================================= --> 
<script  src="~/assets/js/jquery-3.6.0.min.js"></script><!-- JQUERY.MIN JS -->
<script  src="~/assets/js/popper.min.js"></script><!-- POPPER.MIN JS -->
<script  src="~/assets/js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script  src="~/assets/js/bootstrap-select.min.js"></script><!-- BOOTSTRAP SELECT -->    
<script  src="~/assets/js/jquery.bootstrap-touchspin.js"></script><!-- FORM JS -->
<script  src="~/assets/js/magnific-popup.min.js"></script><!-- MAGNIFIC-POPUP JS -->
<script  src="~/assets/js/waypoints.min.js"></script><!-- WAYPOINTS JS -->
<script  src="~/assets/js/counterup.min.js"></script><!-- COUNTERUP JS -->
<script  src="~/assets/js/waypoints-sticky.min.js"></script><!-- STICKY HEADER -->
<script  src="~/assets/js/isotope.pkgd.min.js"></script><!-- MASONRY  -->

<script  src="~/assets/js/owl.carousel.min.js"></script><!-- OWL  SLIDER  -->
<script  src="~/assets/js/slick.min.js"></script><!-- OWL  SLIDER  -->

<script  src="~/assets/js/theia-sticky-sidebar.js"></script><!-- STICKY SIDEBAR  -->
<script src="~/assets/js/m-custom-scrollbar.min.js"></script><!-- my account left panel scroller -->
<script src="~/assets/js/dropzone.js"></script><!-- Images upload -->  

<script src="~/assets/js/bootstrap4-toggle.min.js"></script>
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/dataTables.bootstrap4.min.js"></script>

<script  src="~/assets/js/custom.js"></script><!-- CUSTOM FUCTIONS  -->
<script src="~/assets/js/lc_lightbox.lite.js" ></script><!-- IMAGE POPUP -->
<script  src="~/assets/js/bootstrap-slider.min.js"></script><!-- Form js -->



</body>

<!-- Mirrored from aonetheme.com/sf-html-demo/mc-upload-identity.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 28 Feb 2023 10:37:08 GMT -->
</html>

