@model List<Articles>

    @foreach (var item in Model)
{
    <div class="col-md-4">
        <div class="media-bg-animate">
            <div class="aon-blog-section-1 shine-hover">

                <a asp-controller="blog" asp-action="detail" asp-route-id="@item.Id">
                <div class="aon-post-media shine-box">
                    <img src="~/assets/images/popular-categories/@item.ImageUrl" alt="">
                </div>
                    </a>


                <div class="aon-post-meta">
                    <ul>
                        <li class="aon-post-category">Latest</li>
                        <li class="aon-post-author"><a href="blog-detail.html">By |<span>Admin</span></a> </li>
                    </ul>
                </div>

                <div class="aon-post-info">
                    <h4 class="aon-post-title"><a href="blog-detail.html">@item.Title</a></h4>
                    <div class="aon-post-text">
                        <p>@item.Desc </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
   
}      