
@{
    ViewData["Title"] = "Index";
}

<div class="loading-area">
    <div class="loading-box"></div>
    <div class="loading-pic">
        <div class="windows8">
            <div class="wBall" id="wBall_1">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_2">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_3">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_4">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_5">
                <div class="wInnerBall"></div>
            </div>
        </div>
    </div>
</div>
<!-- LOADING AREA  END ====== -->
<div class="page-wraper">
    <!-- HEADER START -->
    <header class="site-header header-style-2 mobile-sider-drawer-menu header-full-width">
        <div class="sticky-header main-bar-wraper  navbar-expand-lg">
            <div class="main-bar">

                <div class="container clearfix">
                    <!--Logo section start-->
                    <div class="logo-header">
                        <div class="logo-header-inner logo-header-one">
                            <a href="index-2.html">
                                <img src="~/assets/images/logo-dark.png" alt="">
                            </a>
                        </div>
                    </div>
                    <!--Logo section End-->
                    <!-- NAV Toggle Button -->
                    <button id="mobile-side-drawer" data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggler collapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar icon-bar-first"></span>
                        <span class="icon-bar icon-bar-two"></span>
                        <span class="icon-bar icon-bar-three"></span>
                    </button>

                    <!-- MAIN Vav -->
                    <div class="nav-animation header-nav navbar-collapse collapse d-flex justify-content-start">

                        <ul class=" nav navbar-nav">
                            <li class="has-child current-menu-item">
                                <a asp-controller="home" asp-action="index">Home</a>
                                
                            </li>

                            <li class="has-child">
                                <a href="javascript:;">Pages</a>
                                <ul class="sub-menu">
                                    <li><a asp-controller="about" asp-action="index">About us</a></li>
                                    <li>
                                        <a asp-controller="category" asp-action="index">Categories</a>
                                      
                                    </li>

                                
                                  
                                </ul>
                            </li>

                            <li class="has-child">
                                <a asp-controller="profile" asp-action="index">Profile</a>
                               
                            </li>

                            <li class="has-child">
                                <a href="javascript:;">Jobs</a>
                                <ul class="sub-menu">
                                    <li><a asp-controller="jobDetail" asp-action="index">Job detail</a></li>
                                </ul>
                            </li>

                            <li class="has-child">
                                <a href="javascript:;">Blog</a>
                                <ul class="sub-menu">
                                    <li><a asp-controller="blog" asp-action="index">Blog detail</a></li>
                                </ul>
                            </li>
                            <li><a href="contact-us.html">Contact</a></li>
                        </ul>

                    </div>

                    <!-- Header Right Section-->
                    <div class="extra-nav header-2-nav">
                        <div class="extra-cell">
                            <!--Login-->
                            <button type="button" class="site-button aon-btn-login" data-toggle="modal" data-target="#login-signup-model">
                                <i class="fa fa-user"></i> Login
                            </button>
                            <!--Sign up-->
                            <a href="mc-profile.html" class="site-button aon-btn-signup m-l20">
                                <i class="fa fa-plus"></i> Add Listing
                            </a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </header>
    <!-- HEADER END -->
    <!-- Content -->
    <div class="page-content">

        <!-- Banner Area -->
        <div class="aon-page-benner-area">
            <div class="aon-page-banner-row" style="background-image: url(/assets/images/banner/job-banner.jpg)">
                <div class="sf-overlay-main" style="opacity:0.8; background-color:#022279;"></div>
                <div class="sf-banner-heading-wrap">
                    <div class="sf-banner-heading-area">
                        <div class="sf-banner-heading-large">Job Style</div>
                        <div class="sf-banner-breadcrumbs-nav">
                            <ul class="list-inline">
                                <li><a href="index-2.html"> Home </a></li>
                                <li>Jobs</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner Area End -->
        <!-- Left & right section -->
        <div class="aon-page-jobs-wrap">
            <div class="container">
                <div class="row">

                    <!-- Side bar start -->
                    <div class="col-lg-4 col-md-12">

                        <aside class="side-bar sf-rounded-sidebar">
                            <!--Find a Job-->
                            <div class="sf-job-sidebar-blocks">
                                <h4 class="sf-title">Find a Job</h4>
                                <div class="form-group">
                                    <input type="text" placeholder="Search Keywords" class="form-control">
                                </div>
                                <button class="sf-btn-large" type="submit">Search Keywords</button>
                            </div>

                            <!--Location-->
                            <div class="sf-job-sidebar-blocks">
                                <h4 class="sf-title">Location</h4>
                                <div class="form-group sf-location-ring-wrap">
                                    <input type="text" placeholder="Enter Locaton" class="form-control">
                                    <a href="#" class="sf-location-ring"></a>
                                </div>

                                <div class="sf-range-slider">
                                    <div class="sf-range-slider-control">Radius: <span>45Km</span></div>
                                    <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14" />
                                </div>

                            </div>

                            <!--Category-->
                            <div class="sf-job-sidebar-blocks">
                                <h4 class="sf-title">Category</h4>

                                <div class="category-select">
                                    <select class="form-control sf-select-box" title="All category">
                                        <option> Select a Category </option>
                                        <option>Automotive</option>
                                        <option>Cab Service</option>
                                        <option>Car Dealers</option>
                                        <option>Car care and Servicing</option>
                                        <option>Beauty and Personal Care</option>
                                    </select>
                                </div>

                            </div>
     

                        </aside>

                    </div>
                    <!-- Side bar END -->
                    <!-- Right part start -->
                    <div class="col-lg-8 col-md-12">
                        <!--Showing results topbar Start-->
                        <div class="aon-search-result-top flex-wrap d-flex justify-content-between">
                            <div class="aon-search-result-title"> <h5> Jobs & Vacancies</h5></div>
                         
                            <!--Showing results topbar End-->
                        </div>

                        <ul class="job_listings job_listings-two">
                            <!-- COLUMNS 1 -->
                            <li class="job_listing type-job_listing job-type-hourly">
                                <a class="job-clickable-box" href="job-detail.html"></a>
                                <div class="job-comapny-logo"><img class="company_logo" src="~/assets/images/popular-categories/4.jpg" alt=""></div>
                                <div class="job-comapny-info">
                                    <div class="position">
                                        <h3> Designer Required in Baku</h3>
                                        <div class="company"> <strong>Code Academy</strong> </div>
                                    </div>

                                    <ul class="meta">
                                        <li class="date">
                                        </li>
                                    </ul>

                                    <div class="job-location"><i class="fa fa-map-marker"></i> Baku </div>
                                    <div class="job-amount"><i class="fa fa-money"></i> <span>1000 Azn</span> </div>

                                    <div class="job-label"><img src="~/assets/images/label.html" alt=""></div>

                                </div>
                            </li>
                            <!-- COLUMNS 2 -->
                            <li class="job_listing type-job_listing job-type-hourly">
                                <a class="job-clickable-box" href="job-detail.html"></a>
                                <div class="job-comapny-logo"><img class="company_logo" src="~/assets/images/popular-categories/5.jpg" alt=""></div>
                                <div class="job-comapny-info">
                                    <div class="position">
                                        <h3>Front-End Developer Required in Baku</h3>
                                        <div class="company"> <strong>Kapital Bank</strong> </div>
                                    </div>

                                    <ul class="meta">
                                        <li class="date">
                                        </li>
                                    </ul>

                                    <div class="job-location"><i class="fa fa-map-marker"></i> Baku </div>
                                    <div class="job-amount"><i class="fa fa-money"></i> <span>1200 Azn</span> </div>

                                    <div class="job-label"><img src="~/assets/images/label.html" alt=""></div>

                                </div>
                            </li>
                            <!-- COLUMNS 3 -->
                            <li class="job_listing type-job_listing job-type-hourly">
                                <a class="job-clickable-box" href="job-detail.html"></a>
                                <div class="job-comapny-logo"><img class="company_logo" src="~/assets/images/popular-categories/6.jpg" alt=""></div>
                                <div class="job-comapny-info">
                                    <div class="position">
                                        <h3>Back-End Developer Required in Brooklyn</h3>
                                        <div class="company"> <strong>Code Academy</strong> </div>
                                    </div>

                                    <ul class="meta">
                                        <li class="date">
                                        </li>
                                    </ul>

                                    <div class="job-location"><i class="fa fa-map-marker"></i> Baku </div>
                                    <div class="job-amount"><i class="fa fa-money"></i> <span>1400 Azn</span> </div>

                                    <div class="job-label"><img src="~/assets/images/label.html" alt=""></div>

                                </div>
                            </li>
                            <!-- COLUMNS 4 -->
                            <li class="job_listing type-job_listing job-type-hourly">
                                <a class="job-clickable-box" href="job-detail.html"></a>
                                <div class="job-comapny-logo"><img class="company_logo" src="~/assets/images/popular-categories/2.jpg" alt=""></div>
                                <div class="job-comapny-info">
                                    <div class="position">
                                        <h3>Teacher Required in Baku</h3>
                                        <div class="company"> <strong>Code Academy</strong> </div>
                                    </div>

                                    <ul class="meta">
                                        <li class="date">
                                        </li>
                                    </ul>

                                    <div class="job-location"><i class="fa fa-map-marker"></i> Baku </div>
                                    <div class="job-amount"><i class="fa fa-money"></i> <span>900 Azn</span> </div>

                                    <div class="job-label"><img src="~/assets/images/label.html" alt=""></div>

                                </div>
                            </li>
                            <!-- COLUMNS 5 -->
                            <li class="job_listing type-job_listing job-type-hourly">
                                <a class="job-clickable-box" href="job-detail.html"></a>
                                <div class="job-comapny-logo"><img class="company_logo" src="~/assets/images/popular-categories/1.jpg" alt=""></div>
                                <div class="job-comapny-info">
                                    <div class="position">
                                        <h3>Sales Manager Required in Baku</h3>
                                        <div class="company"> <strong>Kapital Bank</strong> </div>
                                    </div>

                                    <ul class="meta">
                                        <li class="date">
                                        </li>
                                    </ul>

                                    <div class="job-location"><i class="fa fa-map-marker"></i> Baku </div>
                                    <div class="job-amount"><i class="fa fa-money"></i> <span>700 Azn</span> </div>

                                    <div class="job-label"><img src="~/assets/images/label.html" alt=""></div>

                                </div>
                            </li>
                            <!-- COLUMNS 6 -->
                            <li class="job_listing type-job_listing job-type-hourly">
                                <a class="job-clickable-box" href="job-detail.html"></a>
                                <div class="job-comapny-logo"><img class="company_logo" src="~/assets/images/popular-categories/3.jpg" alt=""></div>
                                <div class="job-comapny-info">
                                    <div class="position">
                                        <h3>Accountant Required in Baku</h3>
                                        <div class="company"> <strong>Kapital Bank</strong> </div>
                                    </div>

                                    <ul class="meta">
                                        <li class="date">
                                        </li>
                                    </ul>

                                    <div class="job-location"><i class="fa fa-map-marker"></i> Baku </div>
                                    <div class="job-amount"><i class="fa fa-money"></i> <span>800 Azn</span> </div>

                                    <div class="job-label"><img src="~/assets/images/label.html" alt=""></div>

                                </div>
                            </li>
                        </ul>

                    

                    </div>
                    <!-- Right part END -->

                </div>
            </div>
        </div>
        <!-- Left & right section  END -->

    </div>
    <!-- Content END-->
    

